@font-face {
  font-family: Archangelsk;
  src: url("/fonts/Archangelsk.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: Roboto-Light;
  src: url("/fonts/Roboto-Light.ttf");
}
body::-webkit-scrollbar {
  width: 0px;
}
body{
  padding: 0;
  margin: 0;
}
.screen{
  width: 100vw;
  height: 100vh;
  background-size: 100vw;
  background-repeat: no-repeat;
}
.sc1{
  background-image: url('/img/bg1.png');
  background-size: cover;
  animation-name: bg-change;
  animation-duration: 14s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.sc2{
  margin-top: 95vh;
}
span{
  color: #52BEDC;
  font-family: sans-serif;
}
.text{
  font-family: Roboto-Light;
  margin-left: 120px;
  width: 1000px;
  color: #777;
  font-size: 18px;
}
.sc2 > .archangelsk{
  margin-left: 120px;
}
.header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#logo{
  margin-top: 20px;
  margin-left: 8%;
  cursor: pointer;
}
#logos{
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-right: 8%;
  padding-top: 42px;
}
#logos > img{
  cursor: pointer;
}
.slice{
  clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}
.images{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}
#yellow-div{
  width: 625px;
  height: 350px;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  background: linear-gradient(135deg, transparent 50px, #F8F200 0);
}
.archangelsk{
  color: #000;
  font-family: Archangelsk;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 80px;
  margin-top: 80px;
  margin-bottom: 30px;
}
#yellow-div > button{
  background-color: #000;
  width: 270px;
  height: 80px;
  color: #F8F200;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-left: 80px;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
}
#yellow-div > button:hover{
  background-color: #3c3c3c;
}
@keyframes bg-change{
  from{
    background-image: url('/img/bg1.png');
  }
  33%{
    background-image: url('/img/bg2.png');
  }
  66%{
    background-image: url('/img/bg3.png');
  }
  to{
    background-image: url('/img/bg1.png');
  }
}